.env
infrastructure/confluent/terraform.tfvars
infrastructure/confluent/.terraform
infrastructure/gcp/variables.tf
infrastructure/.terraform/
infrastructure/gcp/.terraform
infrastructure/gcp/.terraform.lock.hcl
infrastructure/databricks/main.tf
infrastructure/gcp/debug.log
infrastructure/gcp/databricks-key.json
infrastructure/gcp/terraform.tfstate.backup
infrastructure/databricks/variables.tf
pipeline/data/
postgres_data/